<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Cuenta</h2>
        <div class="user-info">
          <p *ngIf="usuarioActual && usuarioActual.misCuentas && usuarioActual.misCuentas.length > 0">
            Iban: {{ usuarioActual.misCuentas[0].codigoIban }} 
          </p>
          <p>Nombre: {{ usuarioActual?.nombre}} {{ usuarioActual?.apellidos}}</p>
          <p *ngIf="usuarioActual && usuarioActual.misCuentas && usuarioActual.misCuentas.length > 0">
            Saldo: {{ usuarioActual.misCuentas[0].saldoCuenta }} €
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4" *ngIf="usuarioActual?.rol === 'ROLE_ADMIN'">
        <div class="card h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title">Administrar Usuario</h5>
            <p class="card-text">Aquí puedes administrar la información del usuario.</p>
            <a routerLink="/administracion/listado-usuarios" class="btn btn-primary">Ir a Administración</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title">Realizar Transacción</h5>
            <p class="card-text">Haz una transacción a otra cuenta.</p>
            <a routerLink="/transaccion/nueva-transaccion" class="btn btn-primary">Ir a Transacciones</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title">Historial de Transacciones</h5>
            <p class="card-text">Ver historial de transacciones realizadas.</p>
            <a routerLink="/transaccion/lista-transacciones" class="btn btn-primary">Ver Historial</a>
          </div>
        </div>
      </div>
    </div>
  </div>