<div class="jumbotron text-center cardPrincipal">
    <h2 class="display-4 text-light tituloPrincipal">¡Bienvenido a <span class="subtituloPrincipal">Alce<span class="subtituloPrincipal2">Bank</span></span>!</h2>
    <p class="lead text-light">El lugar seguro del dinero</p>
    <hr class="border border-light border-2 opacity-55 w-50 mx-auto mt-2">
    <a class="btn buttonPrincipal btn-lg btn-light mt-3 mb-2 me-3" routerLink="/autenticacion/login" role="button"><i class="bi bi-box-arrow-in-right fs-4"></i> Iniciar sesión</a>
<a class="btn buttonPrincipal btn-lg btn-light mt-3 mb-2" routerLink="/autenticacion/registrar" role="button"><i class="bi bi-person-add fs-4"></i> Crear cuenta</a>
</div>